body {
    font-family: 'Crimson Text', serif;
    background-color: #F5F5F5;
}

section#banner {
    background-image: url(./lemon-pie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 300px;
    padding: 20px; 
    font-size: xx-large;
    color: #BDB76B
}

section#ingredientes{
    max-width: 80%;
    margin: 30px auto; 

}
section#instrucciones {
    max-width: 90%;
    margin: 30px auto; 
}

footer {
    text-align: center;
    color:#c49bc4;
}

i{
    color: #c49bc4;
}

h1{
    text-align: right;
    color:#c49bc4;
}