body {  
    font-family: 'Roboto', sans-serif;
}

.descuentos {
    background-color:#1CD1B0;
    color: black;
    justify-content: space-around; 
    height: 38px;

}

h1 {
    background-color:#00669F; 
    color:black;
    height: 101px;
    margin: 0px;
}

main {
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.boton { 
    background-color:#00669F;
    color: white; 
    text-align: center;
    position: relative;
    left:30%;
    width: 128.78px; 
    height: 48.52px;
    display: flex;
    ;
}

article { 
    background-color:#F3F3F3;   
    text-align: center;
    width: 300px;
    height: 529px;
    padding: 30px;
    margin: 5px;
    
    
}

footer {
    background-color:#00669F;
    color: white; 
    height: 51px; 

}

.perfil { 
    border-radius: 100%;
    display: flex;
    position:relative; 
    left:30%;
    bottom:10%;
}